body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.header{
    background-image: linear-gradient(gold,silver);
    height: 150px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: fantasy;
    color: white;
}
.header h1{
    padding: 20px;
    
}
.section-1{

    display: flex;
    margin-bottom: 10px;
}
.text-part{

width: 50%;
padding: 5%;
text-align: justify;
}
.some-text{
    color: brown;
}

.link-button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(tomato,orange);
   color: white; 
}

.image{
    width: 50%;
    padding: 10px 5px;
}

/* section-2 */
.section-2{
    display: flex;
    margin-bottom: 10px;
    background-image: url(images/7.png);
    background-image: no-repeat;
    background-position: left;
    
}

.recipies-header{
    text-align: center;
}
.recipies-header h1{
font-size: 40px;
}
.all-item{
    display: flex;
    width: 100%;
}
.food-recipies{
    width: 22%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    padding: 20px;
    text-align: justify;
   margin-bottom: 50px;
    
}
.food-recipies img{
    width: 100%;

}
.social-site{
    
    display: flex;
    box-shadow: 10px 10px 30px gray;
    margin: 70px;

}
.social{
    width: 20%;
    margin-left: 10%;
    margin-bottom: 50px;
    padding: 10px;
}
.contact-me{

width: 100%;
margin-top: 50px;

}
.all-contact{
    display: flex;
}
.contact-header{
    text-align: center;
    font-size: 50px;
    color:white;
    background-color: turquoise;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 40px;
    
}
.contact{
    
width: 14%;
margin-left: 5%;
margin-right:5%;
padding: 2%;
background-color: silver;
box-shadow: 10px 10px 30px gray;
}


.footer{

    background-color: dimgray;
    height: 150px;
    margin: 70px;

}
.footer h1{
    text-align: center;
}
.footer p{
    text-align: center;
}
.foot-color{
    color: fuchsia;
}